/* Color scheme Blue-Grey
----------------------------------------------- */

/* grey */
html body {
	border-top-color: #808080;
}

.footer-widget, body .menu-box, .js #header .menu-box .selectnav {
	background-color: #9b9b9b;
}

#wrapper-footer {
	margin: 0 auto;
	text-align: center;
	background: white;
}

.footer-widget {
	margin-bottom: 30px;
	padding: 1rem;
	font-size: .8rem;
}

.footer-widget a {
	padding: .5rem;
	text-decoration: none;
	font-weight: bold;
	float: right;
	font-size: 14px;
	color: #fff;
	background-color: #8cd9ed;
}

body h1, body h2, body h3 {
	color: #73d2ea;
}





/* Widget customization */
.sidebar-widget h3 {
	color: #808080;
	margin-top: 1rem;
}



body #content {
	float: right;
	margin: 35px 0 0 30px;
	width: 760px;
	/*width: 680px;*/
}

body #sidebar {
	float: left;
	margin: 35px 0 30px;
	width: 200px;
	/*width: 290px;*/
}






/* Styling menu bar */
body .menu-box ul {
	float: right;
}

body .content-headline, body .entry-headline, body .page-title, body .sidebar-widget .sidebar-headline,
	body .sidebar-widget .sidebar-headline a {
	color: #808080;
}

body .menu-box, body .menu-box ul ul {
	border-color: #d6d6d6;
	float: left;
}

body a {
	color: #808080;
}

body .menu-box a:hover, body .menu-box :hover>a {
	background-color: #cdcdcd;
}

body #header .menu-box .current-menu-item>a, body #header .menu-box .current-menu-ancestor>a,
	body #header .menu-box .current_page_item>a, body #header .menu-box .current-page-ancestor>a,
	html .home #header .menu-box .link-home, body .footer-signature {
	background-color: #9e9e9e;
}

body #footer .footer-widget .footer-headline, .js #header .menu-box .selectnav
	{
	border-color: #9e9e9e;
}