/* Color scheme Orange-Green
----------------------------------------------- */

/* orange */
body .site-title a,
body .post-entry .post-entry-headline a,
body #content .home-list-posts ul li a,
body .flexslider .slides li a,
body .sidebar-widget a {
  color: #ff982b;                   
}
body .content-headline,
body .entry-headline,
body .page-title {
  border-left-color: #ff982b; 
  border-right-color: #ff982b;                     
}
body #searchform .searchform-wrapper .send {
  background-color: #ffb05c;                                            
}
body .highlight-text,
body .post-entry .read-more-button,
body input[type="submit"],
body input[type="reset"],
body .custom-button,
html #wrapper .panel-row-style-midnightcity .origin-widget-button a {
  background-color: #ffb260;                     
}
body .post-entry .read-more-button:hover,
body input[type="submit"]:hover,
body input[type="reset"]:hover,
body .custom-button:hover,
body #searchform .searchform-wrapper .send:hover,
html #wrapper .panel-row-style-midnightcity .origin-widget-button a:hover {
  background-color: #ff8b11;                                         
}
body #header .menu-box .current-menu-item > a,
body #header .menu-box .current-menu-ancestor > a,
body #header .menu-box .current_page_item > a,
body #header .menu-box .current-page-ancestor > a,
html .home #header .menu-box .link-home {
  color: #ffe4c5;                                   
}
body .sidebar-widget .sidebar-headline {
  background-color: #ffe4c5;                                       
}
body .sidebar-widget .sidebar-headline {
  border-left-color: #ffca93; 
  border-right-color: #ffca93;                                      
}
body #footer .footer-widget .footer-headline {
  color: #ffd6ad;                                             
}
body #footer a,
body .footer-signature .footer-signature-content a {
  color: #ffe9d1;               
}

/* green */
html body {
  border-top-color: #7c8925;          
}
body #wrapper-footer,
body .menu-box,
.js #header .menu-box .selectnav {
  background-color: #7c8925;                      
}
body .content-headline,
body .entry-headline,
body .page-title,
body .sidebar-widget .sidebar-headline,
body .sidebar-widget .sidebar-headline a {
  color: #7c8925;                      
}
body .menu-box,
body .menu-box ul ul {
  border-color: #d1e353;               
}
body a {
  color: #a3b239;       
}
body .menu-box a:hover,
body .menu-box :hover > a {
  background-color: #a8ba31;                     
}
body #header .menu-box .current-menu-item > a,
body #header .menu-box .current-menu-ancestor > a,
body #header .menu-box .current_page_item > a,
body #header .menu-box .current-page-ancestor > a,
html .home #header .menu-box .link-home,
body .footer-signature {
  background-color: #5f691c;                                   
}
body #footer .footer-widget .footer-headline,
.js #header .menu-box .selectnav {
  border-color: #5f691c;                                        
}