/*
Theme Name: MidnightCity
Description: Adds support for languages written in a Right To Left (RTL) direction.
*/

p, ul, ol, li, dl, address {
  text-align: right;
}
ul {
  margin-left: 0;
  margin-right: 16px;   
}
ol {
	margin-left: 0;
  margin-right: 20px;
}
table, td, th {
  text-align: right;
}
blockquote, q { 
  border-left: none;
  border-right: 1px solid #e3e3e3;
  padding-left: 0;
  padding-right: 20px;
}


/* basic structure
-------------------------------------------------------------- */

#content {
  float: right;         
}
#sidebar {
  float: left;
  margin-left: 0px;
  margin-right: 30px;      
}
.scroll-top {
  left: 10px;
  right: auto;            
}


/* header
-------------------------------------------------------------- */

.site-title,
.site-description,
.header-logo {
  float: right;             
}
.site-description {
  clear: right;                  
}
.header-icons {
  left: 0;
  right: auto;              
}
.social-icon {
  margin-left: 0;
  margin-right: 5px;            
}
.menu-box {
  float: left;         
}
#header .breadcrumb-navigation {
  text-align: right;                               
}

/* menus */
.menu-box ul li {
  float: right;
}
.menu-box .link-home {
  float: right;                     
}
.menu-box a,
.menu-box a:visited {
  float: right;
}
.menu-box ul ul {
  left: auto;
  right: 0;
}
.menu-box ul ul ul {
  left: auto;
  right: 212px;
} 
.top-navigation ul {
  float: right;
  z-index: 100;
}
.top-navigation ul li {
  float: right; 
  margin-left: 30px;
  margin-right: 0;
}
.top-navigation a,
.top-navigation a:visited {
  float: right;
}
#wrapper #top-navigation-wrapper .top-navigation ul ul a,
#wrapper #top-navigation-wrapper .top-navigation ul ul a:visited { 
  text-align: right;
}
.top-navigation ul ul {
  left: auto;
  right: 0;
}
.top-navigation ul ul ul {
  left: auto;
  right: 250px;
}


/* main content
-------------------------------------------------------------- */

.content-headline,
.entry-headline {
  border-left: none;
  border-right-style: solid;
  border-right-width: 2px; 
  padding-left: 0;
  padding-right: 16px;                    
}
.post-info .post-info-date,
.post-info .post-info-author,
.post-info .post-info-category,
.post-info .post-info-tags,
.post-info .post-info-comments {
  background-position: right top;              
}
.post-info .post-info-comments { 
  padding-right: 20px;               
}
#main-content .nav-previous {
  float: right;                            
}
#main-content .nav-next {
  float: left;
  text-align: left;                            
}

/* default post entry */
.attachment-post-thumbnail { 
  float: right;
  margin-left: 20px;
  margin-right: 0;
}


/* sidebar
-------------------------------------------------------------- */

.sidebar-widget .sidebar-headline {
  border-left: none;
  border-right-style: solid;
  border-right-width: 1px;                               
}
.sidebar-widget ul li {
  background: right top no-repeat url(images/sidebar-li.png);
  padding-left: 0;
  padding-right: 14px;                       
} 


/* footer
-------------------------------------------------------------- */  

.footer-widget-area {
  float: right;
  margin-left: 41px;
  margin-right: 0;               
}
#footer .footer-widget-area-3 {
  margin-left: 0;                              
}                                 


/* default widgets
-------------------------------------------------------------- */

#wp-calendar #prev {
  text-align: right;                   
}
#wp-calendar #next {
  text-align: left;                   
}


/* form fields
-------------------------------------------------------------- */

#searchform .searchform-wrapper #s {
  border-left: none;
  border-right: 1px solid #e6e6e6;
  padding: 5px 4% 5px 0;
  left: auto;
  right: 0;              
}
#searchform .searchform-wrapper .send {
  left: 0;
  right: auto;
}
.header-content #searchform .searchform-wrapper {
  left: 0;
  right: auto;        
}


/* comments area
-------------------------------------------------------------- */

#comments ol {
  margin-left: auto;
  margin-right: 0;             
}
#comments .avatar,
#comments .fn {
  float: right;
  margin: 0 0 0 6px
}
#comments time,
#comments .edit-link {
  float: left;             
}


/* media queries
-------------------------------------------------------------- */

@media screen and (max-width: 980px) {
  #wrapper #header .header-content .site-title,
  #wrapper #header .header-content .site-description {
    float: right;          
}
  #wrapper .header-content #searchform .searchform-wrapper {
    float: right;
    left: 0;
    right: auto;        
}
  .js .selectnav {
    float: right;
}
}