/*
Theme Name: MidnightCity
Theme URI: http://www.tomastoman.cz/midnightcity
Author: Tomas Toman
Author URI: http://www.tomastoman.cz/
Description: MidnightCity is an easily customizable WordPress multipurpose theme. It is a fully responsive theme that allows for easy viewing on any device. MidnightCity theme offers 5 pre-defined color schemes, 220 Google fonts, Theme Options Panel for easy adaptation to your needs, custom widget for displaying the latest posts from the selected category, 2 menu areas, social networking icons, theme documentation and much more. Supports popular plugins WooCommerce and Breadcrumb NavXT. Available in Czech, Danish, Dutch, English, French, German, Greek, Italian, Polish, Russian, Slovak and Spanish.
Version: 1.3.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, black, white, gray, blue, green, red, purple, orange, one-column, two-columns, right-sidebar, responsive-layout, custom-background, custom-header, custom-colors, custom-menu, featured-images, full-width-template, sticky-post, theme-options, translation-ready, editor-style, rtl-language-support
Text Domain: midnightcity
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	border: none;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font-family: Arial;
}

h1, h2, h3, h4, h5, h6 {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	line-height: 120%;
	margin: 30px 0 7px;
}

h1 {
	color: black;
	font-size: 24px;
}

h2 {
	color: #222222;
	font-size: 20px;
}

h3 {
	color: #333333;
	font-size: 18px;
}

h4 {
	color: #444444;
	font-size: 16px;
}

h5 {
	color: #555555;
	font-size: 14px;
}

h6 {
	color: #666666;
	font-size: 13px;
}

p, ul, ol, li, dl, address {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-size: 13px;
	text-align: left;
	margin: 0;
	padding: 0;
}

ul {
	margin-left: 16px;
}

ol {
	list-style-type: decimal;
	margin-left: 20px;
}

ol ol {
	list-style: upper-alpha;
}

ol ol ol {
	list-style: lower-roman;
}

ol ol ol ol {
	list-style: lower-alpha;
}

dl {
	margin-bottom: 20px;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 5px;
}

strong {
	font-weight: bold;
}

cite, em, i {
	font-style: italic;
}

blockquote cite {
	display: block;
	font-style: normal;
	text-transform: uppercase;
}

a {
	color: #8e3a99;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img {
	height: auto;
	max-width: 100%;
}

table {
	font-size: 13px;
	width: 100%;
}

table, td, th {
	border: 1px solid #e3e3e3;
	border-collapse: collapse;
	text-align: left;
}

td, th {
	padding: 5px 8px;
}

th {
	background: #555555;
	color: white;
	font-weight: bold;
}

blockquote, q {
	border-left: 1px solid #e3e3e3;
	color: #333333;
	font-style: italic;
	margin: 0 0 20px;
	padding-left: 20px;
}

address {
	font-style: italic;
}

pre {
	margin-bottom: 20px;
	overflow: auto;
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}

iframe, embed {
	clear: both;
	width: 100%;
}

hr {
	background: #e3e3e3;
	border: none;
	height: 1px;
	margin: 15px 0;
}

/* WordPress Core
-------------------------------------------------------------- */
.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
	clear: both;
	display: block;
	margin: 5px auto 5px auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.wp-caption, .gallery-caption {
	border: 1px solid #f0f0f0;
	max-width: 96%;
	padding: 5px 3px 10px;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

#wrapper .wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

.wp-audio-shortcode {
	margin-bottom: 20px;
}

/* basic structure
-------------------------------------------------------------- */
body {
	background: white;
	border-top: 2px solid #541a5c;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 150%;
}

#top-navigation-wrapper, #wrapper-footer, #container {
	float: left;
	height: auto;
	position: relative;
	width: 100%;
}

.footer-signature-content, .top-navigation, #main-content, #header,
	#footer {
	margin: 0 auto;
	max-width: 1000px;
	position: relative;
	width: 100%;
}

#content {
	float: left;
	margin: 35px 0 30px;
	width: 680px;
}

.page-template-template-full-width-php #container #content,
	.page-template-template-landing-page-php #container #content,
	.page-template-template-full-width-without-title-php #container #content
	{
	width: 100% !important;
}

.page-template-template-landing-page-php #content {
	margin-top: 0;
}

#sidebar {
	float: right;
	margin: 35px 0 0 30px;
	width: 290px;
}

#wrapper-footer {
	/*background: #541a5c;*/
	margin-top: 10px;
}

.scroll-top {
	background: #666666 left top no-repeat url(images/scroll-top.png);
	border: 1px solid black;
	cursor: pointer;
	display: block;
	height: 29px;
	opacity: 0.2;
	filter: alpha(opacity = 20);
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 29px;
	z-index: 200;
}

#wrapper .scroll-top:hover {
	opacity: 1;
	filter: alpha(opacity = 100);
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}

/* header
-------------------------------------------------------------- */
.header-content {
	float: left;
	margin: 40px 0 40px;
	position: relative;
	width: 100%;
}

.site-title {
	font-size: 41px;
	font-weight: bold;
	line-height: 100%;
	margin: 0;
	max-width: 730px;
	position: relative;
	z-index: 50;
	width: auto;
}

.site-description {
	color: #737373;
	font-size: 19px;
	line-height: 100%;
	margin: 10px 0 0;
	max-width: 730px;
	position: relative;
	z-index: 50;
	width: auto;
}

.site-title a {
	color: #33ccfe;
	text-decoration: none;
}

.site-title a:hover {
	color: #111111;
	-webkit-transition: color 1s;
	transition: color 1s;
}

.header-logo {
	float: left;
	height: auto;
	margin: 0;
	max-width: 730px;
	position: relative;
	width: auto;
}

#top-navigation-wrapper {
	background: #f2f2f2;
	border-bottom: 1px solid #e6e6e6;
	float: left;
	height: auto;
	position: relative;
	width: 100%;
	z-index: 150;
}

.top-navigation {
	height: auto;
	margin: 0 auto;
	max-width: 1000px;
	position: relative;
	width: 100%;
}

.header-icons {
	height: 20px;
	position: absolute;
	right: 0;
	top: 9px;
	width: auto;
}

#wrapper .top-navigation .header-icons a, #wrapper .top-navigation .header-icons a img
	{
	display: block;
	height: 20px;
}

.social-icon {
	float: left;
	margin-left: 5px;
	width: 20px;
}

.top-navigation .header-icons a img:hover {
	opacity: 0.6;
	filter: alpha(opacity = 60);
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}

#content .header-image {
	display: block;
	margin-bottom: 35px;
	max-width: 680px;
}

.page-template-template-full-width-php #content .header-image,
	.page-template-template-landing-page-php #content .header-image,
	.page-template-template-full-width-without-title-php #content .header-image
	{
	max-width: 100%;
}

#header .breadcrumb-navigation {
	background: #f0f0f0;
	clear: both;
	color: #aaaaaa;
	font-size: 11px;
	line-height: 100%;
	margin: 0;
	padding: 10px 23px;
	text-align: left;
}

#header .breadcrumb-navigation a {
	color: #888888;
	text-decoration: none;
}

#header .breadcrumb-navigation a:hover {
	color: #333333;
	-webkit-transition: color 1s;
	transition: color 1s;
}

/* header menu */
/* 
This copyright notice must be untouched at all times.
The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menus/final_drop3.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements. */
.menu-box {
	background: #541a5c;
	border-bottom: 2px solid #8e3a99;
	float: left;
	width: 100%;
}

.menu-box .link-home {
	background-image: url(images/icon-home.png);
	background-position: center center;
	background-repeat: no-repeat;
	width: 27px;
}

.menu-box ul {
	list-style-type: none;
	margin: 0;
	position: relative;
	text-align: left;
}

.menu-box ul ul {
	background: #ededed;
	border-top: 2px solid #8e3a99;
	width: 212px;
	z-index: 110;
}

.menu-box ul li {
	float: left;
	height: 45px;
	line-height: 45px;
	margin: 0;
	position: relative;
}

.menu-box ul ul li {
	border-bottom: 1px solid #d9d9d9;
	display: block;
	height: auto;
	line-height: 39px;
	margin: 0;
	min-height: 39px;
	position: relative;
	width: 212px;
}

#wrapper #header .menu-box ul ul .last-menu-item {
	border-bottom: none;
}

.menu-box a, .menu-box a:visited {
	color: white;
	display: block;
	float: left;
	font-size: 15px;
	font-weight: normal;
	height: 45px;
	line-height: 45px;
	padding: 0 23px;
	text-decoration: none;
}

#header .menu-box ul ul a, #header .menu-box ul ul a:visited {
	color: #333333 !important;
	display: block;
	font-size: 13px;
	font-weight: normal;
	height: auto;
	line-height: 39px;
	margin: 0;
	min-height: 39px;
	padding: 0 0 0 12px;
	text-align: left;
	width: 200px;
}

#header .menu-box ul ul ul a, #header .menu-box ul ul ul a:visited {
	color: #444444 !important;
}

.menu-box a:hover, .menu-box :hover>a {
	background-color: #72237d;
	-webkit-transition: background-color 1s;
	transition: background-color 1s;
}

#header .menu-box ul ul a:hover, #header .menu-box ul ul :hover>a {
	background-color: #dbdbdb !important;
	color: black !important;
	-webkit-transition: background-color 1s;
	transition: background-color 1s;
}

.menu-box ul ul {
	height: 0;
	position: absolute;
	left: 0px;
	top: 45px;
	visibility: hidden;
	width: 212px;
}

.menu-box ul ul ul {
	left: 212px;
	top: -2px;
	width: 212px;
}

.menu-box ul li:hover ul, .menu-box ul a:hover ul, .top-navigation ul li:hover ul,
	.top-navigation ul a:hover ul {
	height: auto;
	padding-bottom: 0;
	visibility: visible;
}

.menu-box ul :hover ul ul, .top-navigation ul :hover ul ul {
	visibility: hidden;
}

.menu-box ul :hover ul :hover ul ul, .top-navigation ul :hover ul :hover ul ul
	{
	visibility: hidden;
}

.menu-box ul :hover ul :hover ul, .top-navigation ul :hover ul :hover ul
	{
	visibility: visible;
}

.menu-box ul :hover ul :hover ul :hover ul, .top-navigation ul :hover ul :hover ul :hover ul
	{
	visibility: visible;
}

#header .menu-box .current-menu-item>a, #header .menu-box .current-menu-ancestor>a,
	#header .menu-box .current_page_item>a, #header .menu-box .current-page-ancestor>a,
	.home #header .menu-box .link-home {
	background-color: #411447;
	color: #c7eefe;
}

#header .menu-box .sub-menu .current-menu-item>a, #header .menu-box .sub-menu .current-menu-ancestor>a,
	#header .menu-box .sub-menu .current_page_item>a, #header .menu-box .sub-menu .current-page-ancestor>a
	{
	background-color: #ededed;
	color: black !important;
}

/* top navigation */
.top-navigation {
	min-height: 37px;
}

.top-navigation ul {
	list-style-type: none;
	margin: 0;
	max-width: 860px;
	position: relative;
}

.top-navigation ul ul {
	border: none;
	background: #ededed;
	margin: 0;
	width: 250px;
	z-index: 110;
}

.top-navigation ul li {
	float: left;
	height: 37px;
	line-height: 37px;
	margin-right: 30px;
	position: relative;
}

.top-navigation ul .last-menu-item {
	margin-right: 0;
}

.top-navigation ul ul li {
	border-bottom: 1px solid #dedede;
	display: block;
	height: auto;
	line-height: 30px;
	margin: 0;
	min-height: 30px;
	position: relative;
	width: 250px;
}

#wrapper #top-navigation-wrapper .top-navigation ul ul .last-menu-item {
	border-bottom: none;
}

.top-navigation a, .top-navigation a:visited {
	color: #aaaaaa;
	display: block;
	float: left;
	font-size: 13px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	text-decoration: none;
}

#wrapper #top-navigation-wrapper .top-navigation ul ul a, #wrapper #top-navigation-wrapper .top-navigation ul ul a:visited
	{
	color: #777777;
	display: block;
	font-size: 13px;
	font-weight: normal;
	height: auto;
	line-height: 30px;
	margin: 0;
	min-height: 30px;
	padding: 0;
	text-align: left;
	text-indent: 14px;
	width: 250px;
}

.top-navigation a:hover, .top-navigation :hover>a {
	color: #333333;
	-webkit-transition: color 1s;
	transition: color 1s;
}

#wrapper #top-navigation-wrapper .top-navigation ul ul a:hover, #wrapper #top-navigation-wrapper .top-navigation ul ul :hover>a
	{
	background-color: #dbdbdb;
	color: #333333;
	-webkit-transition: background-color 1s;
	transition: background-color 1s;
}

.top-navigation ul ul {
	border-top: 1px solid #555555;
	height: 0;
	position: absolute;
	left: 0;
	top: 37px;
	visibility: hidden;
	width: 250px;
}

.top-navigation ul ul ul {
	left: 250px;
	top: -1px;
	width: 250px;
}

#wrapper #top-navigation-wrapper .top-navigation .current-menu-item>a,
	#wrapper #top-navigation-wrapper .top-navigation .current-menu-ancestor>a,
	#wrapper #top-navigation-wrapper .top-navigation .current_page_item>a,
	#wrapper #top-navigation-wrapper .top-navigation .current-page-ancestor>a
	{
	color: #333333;
}

.selectnav {
	display: none;
}

/* main content
-------------------------------------------------------------- */
.content-headline, .entry-headline, .page-title {
	border-left-color: #33ccfe;
	border-left: 2px solid #33ccfe;
	color: #541a5c;
	font-size: 24px;
	line-height: 100%;
	margin: 0 0 20px;
	padding-left: 16px;
	position: relative;
	width: auto;
	z-index: 50;
}

.home-default-posts .entry-headline {
	margin-bottom: 18px;
}

#wrapper .content-headline {
	margin-bottom: 24px;
}

#content p, #content ul, #content ol, #content table, #content address {
	margin-bottom: 20px;
}

#content ul ul, #content ol ol, #content ol ul, #content ul ol {
	margin-bottom: 0;
}

.home-latest-posts, .home-default-posts {
	float: left;
	margin-bottom: 15px;
	width: 100%;
}

#sidebar .home-default-posts, #footer .home-default-posts {
	display: none;
}

#main-content .post-info {
	border-bottom: 1px solid #e3e3e3;
	border-top: 1px solid #e3e3e3;
	clear: both;
	color: #999999;
	font-size: 12px;
	line-height: 21px;
	margin: 0 0 26px;
	padding: 6px 0;
}

#main-content .post-entry .post-info {
	border: none;
	margin: 0 0 3px;
	padding: 0;
}

.post-info a {
	color: #999999 !important;
	text-decoration: none;
}

.post-info a:hover {
	color: #111111 !important;
	-webkit-transition: color 1s;
	transition: color 1s;
}

.post-info span {
	display: inline-block;
	height: 16px;
	line-height: 16px;
	padding: 0 20px 3px 20px;
}

.post-info .post-info-date {
	background: left top no-repeat url(images/icon-date.png);
}

.post-info .post-info-author {
	background: left top no-repeat url(images/icon-author.png);
}

.post-info .post-info-category {
	background: left top no-repeat url(images/icon-category.png);
}

.post-info .post-info-tags {
	background: left top no-repeat url(images/icon-tag.png);
}

.post-info .post-info-comments {
	background: left top no-repeat url(images/icon-comments.png);
	padding-right: 0;
}

.author-info, .archive-meta {
	border-bottom: 1px solid #e3e3e3;
	margin-bottom: 30px;
}

#content .author-info p {
	margin-bottom: 15px;
}

.post-edit-link {
	font-weight: bold;
}

#nav-below, #midnightcity-post-nav, .search .navigation {
	float: left;
	margin: 10px 0 20px;
	width: 100%;
}

#wrapper #midnightcity-post-nav {
	margin-bottom: 0;
}

.nav-wrapper {
	border-bottom: 1px solid #e3e3e3;
	border-top: 1px solid #e3e3e3;
	float: left;
	padding: 5px 0;
	width: 100%;
}

.navigation-headline {
	font-size: 18px;
	font-weight: normal;
	margin-top: 0;
}

.navigation .navigation-links {
	margin-bottom: 0 !important;
}

.navigation .navigation-links a {
	text-decoration: none;
}

.navigation .navigation-links a:hover {
	text-decoration: underline;
}

#main-content .nav-previous {
	float: left;
	margin: 0;
	width: 50%;
}

#main-content .nav-next {
	float: right;
	margin: 0;
	text-align: right;
	width: 50%;
}

#main-content .nav-previous a, #main-content .nav-next a {
	text-decoration: none;
}

#main-content .nav-previous a:hover, #main-content .nav-next a:hover {
	color: #333333;
	-webkit-transition: color 1s;
	transition: color 1s;
}

#main-content #content .page-link {
	color: #333333;
	font-size: 12px;
}

.highlight-text {
	background-color: #66d9ff;
}

/* default post entry */
.post-entry {
	border-bottom: 1px solid #e3e3e3;
	float: left;
	margin-bottom: 20px;
	position: relative;
	width: 100%;
}

#main-content .sticky {
	background-color: #f0f0f0;
	padding: 20px 3% 0;
	width: 94%;
}

.attachment-post-thumbnail {
	border: none;
	float: left;
	height: auto;
	margin: 5px 20px 24px 0;
	max-width: 270px;
	width: auto;
}

.single-post #content .attachment-post-thumbnail, .page #content .attachment-post-thumbnail
	{
	clear: both;
	display: block;
	float: none;
	margin: 0 0 25px;
	max-width: 100%;
}

.post-entry-content h1 {
	font-size: 20px;
}

.post-entry-content h2 {
	font-size: 18px;
}

.post-entry-content h3 {
	font-size: 16px;
}

.post-entry-content h4 {
	font-size: 15px;
}

.post-entry-content h5 {
	font-size: 14px;
}

.post-entry-content h6 {
	font-size: 13px;
}

#content .post-entry .post-entry-headline {
	font-size: 20px;
	line-height: 120%;
	margin: 0 0 3px;
}

#main-content .sticky .post-entry-headline {
	text-transform: uppercase;
}

.post-entry .post-entry-headline a {
	color: #33ccfe;
	text-decoration: none;
}

.post-entry .post-entry-headline a:hover {
	color: black;
	-webkit-transition: color 1s;
	transition: color 1s;
}

.post-entry .read-more-button {
	background-color: #66d9ff;
	color: white !important;
	display: inline-block;
	font-size: 12px;
	line-height: 12px;
	margin: 10px 0 3px;
	padding: 6px 8px;
	text-decoration: none;
	text-transform: uppercase;
}

.post-entry .read-more-button:hover {
	background-color: #1180a5;
	-webkit-transition: background-color 1s;
	transition: background-color 1s;
}

/* sidebar
-------------------------------------------------------------- */
.sidebar-widget {
	color: #333333;
	float: right;
	font-size: 13px;
	margin-bottom: 30px;
	width: 100%;
}

.sidebar-widget .sidebar-headline {
	background: #c7eefe;
	border-left: 1px solid #8cd9ed;
	color: #541a5c;
	font-size: 16px;
	font-weight: bold;
	line-height: 100%;
	margin: 0;
	padding: 12px 14px 10px;
	position: relative;
}

.sidebar-widget .sidebar-headline a {
	color: #541a5c;
	text-decoration: none;
}

.sidebar-widget img {
	height: auto;
	max-width: 100%;
}

.sidebar-widget p {
	margin: 8px 0 -5px;
}

.sidebar-widget p, .sidebar-widget ul li, .sidebar-widget ol li {
	color: #333333;
	font-size: 13px;
}

.sidebar-widget ul {
	background: left top repeat url(images/sidebar-ul.png);
	margin: 0;
}

.sidebar-widget ul li {
	background: left top no-repeat url(images/sidebar-li.png);
	height: auto;
	line-height: 32px;
	list-style-type: none;
	min-height: 32px;
	padding-left: 14px;
}

.sidebar-widget a {
	color: #33ccfe;
	text-decoration: underline;
}

.sidebar-widget ul li a {
	text-decoration: none;
}

.sidebar-widget a:hover {
	color: black !important;
	text-decoration: none;
	-webkit-transition: color 1s;
	transition: color 1s;
}

/* footer
-------------------------------------------------------------- */
#footer p, #footer ul li, #footer ol li {
	color: white;
	font-size: 13px;
}

#footer .footer-widget-area p, #footer .footer-widget-area ul, #footer .footer-widget-area ol
	{
	margin-bottom: 2px;
}

#footer a {
	color: #d2f3fe;
}

.footer-widget-area {
	float: left;
	height: auto;
	margin-right: 41px;
	padding: 40px 0 10px;
	position: relative;
	width: 306px;
	z-index: 50;
}

#footer .footer-widget-area-3 {
	margin-right: 0;
}

.footer-widget {
	margin-bottom: 30px;
}

#footer .footer-widget .footer-headline {
	border-bottom: 1px solid #411447;
	color: #afeefe;
	font-size: 19px;
	line-height: 100%;
	margin-bottom: 4px;
	padding-bottom: 7px;
}

.footer-signature {
	background: #411447;
	float: left;
	position: relative;
	width: 100%;
	z-index: 50;
}

.footer-signature .footer-signature-content {
	min-height: 42px;
	text-align: center;
}

.footer-signature .footer-signature-content p {
	color: white;
	font-size: 12px;
	line-height: 22px;
	min-height: 22px;
	padding: 10px 0;
	text-align: center;
}

.footer-signature .footer-signature-content a {
	color: #d2f3fe;
}

/* default widgets
-------------------------------------------------------------- */
.sidebar-widget input[type="text"], .sidebar-widget input[type="file"],
	.sidebar-widget input[type="password"], .sidebar-widget input[type="number"],
	.sidebar-widget input[type="search"], .sidebar-widget input[type="email"],
	.sidebar-widget input[type="url"], .sidebar-widget textarea,
	.sidebar-widget select, .sidebar-widget table, .sidebar-widget td,
	.sidebar-widget th {
	border-color: #e8e8e8;
}

#wp-calendar th, #wp-calendar td {
	text-align: center;
}

#wp-calendar a, #wp-calendar #today {
	font-weight: bold;
	text-decoration: none;
}

#wp-calendar #prev {
	text-align: left;
}

#wp-calendar #next {
	text-align: right;
}

#footer #wp-calendar, #footer #wp-calendar th, #footer #wp-calendar td {
	border: 1px solid #111111;
	color: #e3e3e3;
}

.tagcloud {
	padding-top: 3px;
}

.tagcloud a {
	text-decoration: none;
}

.tagcloud a:hover {
	text-decoration: underline;
}

.sidebar-widget img, .footer-widget img {
	padding-top: 3px;
}

.sidebar-widget .wp-caption, .footer-widget .wp-caption {
	border: none;
	margin-right: 0;
}

.sidebar-widget .wp-caption img, .footer-widget .wp-caption img {
	max-width: 100%;
}

.sidebar-widget select {
	margin-top: 3px;
	width: 100%;
}

.sidebar-widget #searchform {
	margin-top: 4px;
}

#sidebar .widget_rss ul {
	background-image: none;
}

/* form fields
-------------------------------------------------------------- */
input[type="text"], input[type="file"], input[type="password"], input[type="number"],
	input[type="search"], input[type="email"], input[type="url"], textarea,
	select {
	background-color: white;
	border: 1px solid #d4d4d4;
	color: #333333;
	line-height: normal;
	padding: 5px;
	width: 50%;
}

textarea {
	overflow: auto;
	vertical-align: top;
	width: 98%;
}

input[type="submit"], input[type="reset"], .custom-button, #wrapper .panel-row-style-midnightcity .origin-widget-button a
	{
	background: #66d9ff;
	border: none;
	color: white !important;
	cursor: pointer;
	font-size: 14px;
	height: auto;
	margin-top: 5px;
	padding: 8px 12px;
	text-align: center;
	text-decoration: none;
}

.custom-button {
	display: inline-block;
	margin-bottom: 10px;
}

#searchform .searchform-wrapper {
	height: 32px;
	position: relative;
	width: 100%;
}

.header-content #searchform .searchform-wrapper {
	margin-top: -16px;
	position: absolute;
	right: 0;
	top: 50%;
	width: 230px;
}

#searchform .searchform-wrapper #s {
	background-color: #f0f0f0;
	border: none;
	border-color: #e6e6e6;
	border-left: 1px solid #e6e6e6;
	color: #8f8f8f;
	font-size: 13px;
	height: 22px;
	padding: 5px 0 5px 4%;
	position: absolute;
	left: 0;
	top: 0;
	width: 95%;
}

#searchform .searchform-wrapper .send {
	background-color: #33ccfe;
	background-image: url(images/searchform-send.png);
	border: none;
	cursor: pointer;
	height: 32px;
	position: absolute;
	right: 0;
	top: 0;
	width: 32px;
	z-index: 20;
}

input[type="submit"]:hover, input[type="reset"]:hover, .custom-button:hover,
	#searchform .send:hover, #wrapper .panel-row-style-midnightcity .origin-widget-button a:hover
	{
	background-color: #1180a5;
	-webkit-transition: background-color 1s;
	transition: background-color 1s;
}

/* comments area
-------------------------------------------------------------- */
#comments {
	float: left;
	margin-bottom: 0;
	margin-top: 40px;
}

.page #comments {
	margin-top: 20px;
}

#wrapper #content .comments-area-disabled {
	margin: 0 !important;
}

#content .commentlist {
	list-style-type: none;
	margin-bottom: 35px;
}

.commentlist .children {
	list-style-type: none;
}

.comment-reply-title {
	font-size: 18px;
	font-weight: normal;
	line-height: 100%;
	margin-top: 0;
}

#comments .entry-headline-wrapper {
	margin-bottom: -21px;
}

#comments .entry-headline {
	border-left: none;
	color: #333333;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: -4px;
	padding: 0;
}

.comment-reply-link {
	font-size: 13px;
}

.comments-title {
	margin-top: 0;
}

#comments .section-heading {
	font-weight: normal;
}

#comments ol {
	color: #333333;
	margin-left: 0;
}

#comments ol ol {
	margin: 0 20px;
}

#comments ol li {
	border-top: 1px solid #ebebeb;
	margin: 15px 0 0 0;
	padding: 15px 0 0 0;
}

#comments .avatar, #comments .fn {
	float: left;
	margin: 0 6px 0 0;
}

#comments .fn {
	font-style: italic;
	margin: 0 3px 0 0;
}

#comments time, #comments .edit-link {
	color: #555555;
	float: right;
	font-size: 13px;
}

#comments .comment-content {
	clear: both;
	padding-top: 10px;
}

#comments #comment-nav-below {
	float: left;
	margin: 10px 0 30px;
	width: 100%;
}

#comments input, #comments textarea {
	margin-top: 7px;
}

#content #commentform .form-allowed-tags {
	color: #707070;
	font-size: 12px;
}

#comments .bypostauthor {
	background: #f2f2f2;
	border-top: 1px solid #cccccc;
	color: black;
	margin-bottom: -15px;
	padding: 10px 30px;
}

.reply {
	margin-top: -10px;
	width: 50%;
}

#content .comment-content p {
	font-size: 13px;
	margin-bottom: 10px;
}

#content .comment-content .edit-link {
	margin: -15px 0 0;
	text-align: right;
	width: 50%;
}

#content .comment-content li {
	border: none;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

#content #commentform p {
	color: #333333;
	font-size: 13px;
	margin-bottom: 5px;
}

#content #commentform .logged-in-as, #content #commentform .comment-notes
	{
	margin-top: 6px;
}

#comments #respond {
	float: left;
	margin-bottom: 0;
}

/* media queries
-------------------------------------------------------------- */
@media screen and (max-width: 1000px) {
	#wrapper .footer-signature-content, #wrapper .top-navigation, #wrapper #main-content,
		#wrapper #header, #wrapper #footer {
		max-width: 90%;
		width: 90%;
	}
	#wrapper #content {
		max-width: 100%;
		width: 100%;
	}
	#wrapper #sidebar {
		float: left;
		margin: 20px 0 0;
		width: 100%;
	}
	#wrapper #wrapper-header .header-content {
		padding: 30px 0;
	}
	#wrapper #header .header-content .site-title, #wrapper #header .header-content .site-description
		{
		float: left;
		width: 100% !important;
	}
	#wrapper #header .header-content .header-logo {
		margin: 0;
		max-width: 100%;
	}
	#wrapper .header-content #searchform .searchform-wrapper {
		float: left;
		margin-top: 20px;
		position: relative;
		right: 0;
		top: 0;
		width: 100%;
	}
	.js #nav, .js #top-nav {
		display: none;
	}
	.js .selectnav {
		background: #f5f5f5;
		border: 1px solid #e3e3e3;
		color: #333333;
		display: block;
		float: left;
		height: 27px;
		margin: 5px 0 0;
		position: relative;
		width: 50%;
	}
	.js .menu-box .selectnav {
		background: #541a5c;
		border-color: #411447;
		color: white;
		margin: 9px 2% 0;
		width: 80%;
	}
	#wrapper .menu-box .link-home {
		padding: 0;
		width: 16%;
	}
	#wrapper #main-content .header-image {
		width: 100%;
	}
	#wrapper #content .attachment-post-thumbnail {
		max-width: 100%;
		width: auto;
	}
	#wrapper #main-content .post-entry .attachment-post-thumbnail {
		max-width: 50%;
	}
	.single-post #main-content .attachment-post-thumbnail, .page #main-content .attachment-post-thumbnail
		{
		max-width: 100% !important;
	}
	#wrapper #footer {
		padding: 40px 0 10px;
	}
	#footer .footer-widget-area {
		margin: 0;
		padding: 0;
		width: 100%;
	}
}

/* print
-------------------------------------------------------------- */
@media print {
	html body {
		background: none !important;
		border-top: none !important;
	}
	#top-navigation-wrapper, #wrapper-footer, #header, #sidebar, #respond,
		.wrapper-related-posts, .scroll-top, .reply {
		display: none !important;
	}
	#content {
		width: 100% !important;
	}
}